body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #91C0FF 0%, #FFFFFF 100%);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 16px;
}

h1 {
    font-size: 60px;
    color: #333236;
    margin: 8px;
}

h2 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin: 8px;
}

.password-card {
    width: 100%;
    max-width: 450px; 
    margin: 30px auto; 
    padding: 40px;
    background: rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 16px 8px rgba(255, 255, 255, 0.05); 
    
    position: relative;
    overflow: hidden;
    text-align: left; 
}

.password-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.8),
        transparent
    );
}

.password-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.8),
        transparent,
        rgba(255, 255, 255, 0.3)
    );
}

.btn-generate {
    color: White;
    background-color: #3D96F5FF;
    border-radius: 15px;
    width: 100%;
    font-weight: 600;
    
}

.btn-generate:hover {
    background-color: #1d4ed8;
}

#footer-text {
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
    color: #9CA3AF;
    text-align: center;
}